<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>

      <p [innerHTML]="'APP_DESCRIPTION' | translate"></p>

      <select name="language" id="language" (change)="changeLang($event)">
        <option value="es" selected>Español</option>
        <option value="en">English</option>
      </select>

      <p [innerHTML]="'READ_CODE' | translate"></p>
      <p [innerHTML]="'READ_DOCS' | translate"></p>

      <div class="form-container">
        <form [formGroup]="form">
          <div class="form-row">
            <label for="name">{{ "FORM_LABELS.NAME" | translate }}</label>
            <input type="text" formControlName="name" ngxFormcontrolErrors />
          </div>
          <div class="form-row">
            <label for="email">{{ "FORM_LABELS.EMAIL" | translate }}</label>
            <input type="email" formControlName="email" ngxFormcontrolErrors />
          </div>
          <button type="button" (click)="reset()">
            {{ "FORM_LABELS.RESET_FORM" | translate }}
          </button>
          <button type="submit">
            {{ "FORM_LABELS.SUBMIT" | translate }}
          </button>
        </form>

      </div>
    </div>
  </div>
</main>
