<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>

      <p>Angular directive to easily show errors in form controls</p>

      <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <label for="name">Name</label>
            <input type="text" formControlName="name" ngxFormcontrolErrors />
          </div>
          <div class="form-row">
            <label for="name">Email</label>
            <input type="email" formControlName="email" ngxFormcontrolErrors />
          </div>
          <button type="button" (click)="reset()">Reset Form</button>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <p>See it working with Angular I18N <a href="/ngx-formcontrol-errors/angular-i18n-demo/en">Here</a></p>
    <p>See it working with ngx-translate <a href="/ngx-formcontrol-errors/ngx-translate-demo-app">Here</a></p>
  </div>

  <app-source-code-container></app-source-code-container>
</main>
