<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>

      <p>Angular directive to easily show errors in form controls</p>

      <div class="form-container">
        <form [formGroup]="form">
          <div class="form-row">
            <label for="name">Name</label>
            <input type="text" formControlName="name" ngxFormcontrolErrors />
          </div>
          <div class="form-row">
            <label for="name">Email</label>
            <input type="email" formControlName="email" ngxFormcontrolErrors />
          </div>
        </form>
        <button (click)="reset()">Reset Form</button>
      </div>
    </div>
  </div>
</main>
